[
  {
    "id": "accessibility",
    "vocabulary": "schema.org",
    "properties": [
      {
        "name" : "prueba"
      },
      {
        "name": "accessibilityFeature",
        "values": [
          "alternativeText","annotations","audioDescription","bookmarks","braille","captions","ChemML",
          "describedMath","displayTransformability","highContrastAudio","highContrastDisplay","index","largePrint",
          "latex","longDescription","MathML","none","printPageNumbers","readingOrder","rubyAnnotations","signLanguage",
          "structuralNavigation","synchronizedAudioText","tableOfContents","taggedPDF","tactileGraphic","tactileObject",
          "timingControl","transcript","ttsMarkup","unlocked"
        ]
      },
      {
        "name": "accessibilityHazard",
        "values": [
          "flashing","noFlashingHazard","motionSimulation","noMotionSimulationHazard","sound","noSoundHazard",
          "unknown", "none"
        ]
      },
      {
        "name": "accessibilityAPI",
        "values": [
          "AndroidAccessibility","ARIA","ATK","AT-SPI","BlackberryAccessibility","iAccessible2",
          "iOSAccessibility","JavaAccessibility","MacOSXAccessibility","MSAA","UIAutomation"
        ]
      },
      {
        "name": "accessibilityControl",
        "values": [
          "fullKeyboardControl","fullMouseControl","fullSwitchControl","fullTouchControl","fullVideoControl",
          "fullVoiceControl"
        ]
      },
      {
        "name": "accessMode",
        "values": [
          "auditory","chartOnVisual","chemOnVisual","colorDependent","diagramOnVisual","mathOnVisual","musicOnVisual",
          "tactile","textOnVisual","textual","visual"
        ]
      },
      {
        "name": "accessModeSufficient",
        "values": [
          "auditory","tactile","textual","visual"
        ]
      },
      {
        "name": "accessibilitySummary"
      }
    ]
  }
]